#divHeadline {
    background: linear-gradient(to right, #262862, #43527E);
    color: #fff;
    padding: 3.5% 0%;
    min-height: 250px;
}

#divProfileInfoBox {
    position: absolute;
    background: linear-gradient(to right, #264662, #0C73AF);    
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 5px 35px 0px #4B4949;
    font-size: 24pt;
    text-align: center;
    color: #D8D8D8;
    padding: 30px 45px 70px 45px;
}

@media (max-width: 600px) {
    #divProfileInfoBox {
        position: relative;
        box-shadow: none;
        padding: 15px;
        min-height: 0;
    }
}

#divUsername {
    margin-top: 15px;
}

#divLocation {
    font-size: 18pt;
    margin-top: 12px;
}

#divQuickStatus {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
}


#divConnectButtons {
    background-color: #F1F1F3;
    padding: 10px 0px 13.5px 0px;
    box-shadow: 0px 0.5px 35px 0px #504C4C;
}

#divConnectButtons button {
    border-radius: 30px;
    padding: 8px 27px;
    color: #fff;
    font-size: 13pt;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 2px 4px 15px 0px #4B4949;   
}

#btnConnect {
    background-color: #B48A0E;
}

#btnMaybe {
    background-color: #976211;
}

#btnNotInterested {
    background-color: #974F11;
}