
@{
    ViewBag.Title = "Dashboard";
}
<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-3" >
            Custom Profile Section
        </div>
        <div class="col-lg-8" >
            Activity and Search
        </div>
        <div class="col-lg-1" >
            News and Updates/ Maybe Settings
        </div>
    </div>
</div>